body {
   background-color: darkcyan;
}

.container {
   background-color: bisque;
}

/* this is the navigation styles */

nav ul {
   display: flex;
   display: -webkit-flex;
}
nav li {
   list-style-type: none;
   color: burlywood;
}
nav a {
   color: greenyellow;
}

footer {
   background-color: blueviolet;
   color: bisque;
   text-align: center;
}


.flex-container {
   display: flex;
   display: -webkit-flex;
   width: 100%;
}


.flex-item{
   margin: 1em;
}






